data/
outputs/
logs/
results/
__pycache__/
.idea
*/.ipynb_checkpoints
*.tc.*
*.tc_backward.*
*.log
*.bak
attention-learn-to-route.code-workspace
.gitignore

.vscode/launch.json

ponddataset_loc100.pkl
ponddataset_loc300.pkl
ponddataset_loc500.pkl
ponddataset_loc700.pkl
